{% extends "../paginate.html" %}

{% block content %}
<main>
    <h1>Your shopping list</h1>
    {% comment %} delete all button {% endcomment %}
    <div class="delete-form">
        <form method="post" action="{% url "shopping_item_delete" %}">
          {% csrf_token %}
          <div>
            <button class="button">DELETE ALL</button>
          </div>
        </form>
    </div>
    <ul>
    {% for shoppingitem in shoppingitem_list %}
      <li>{{shoppingitem.food.name}}</li>
    {% endfor %}
    </ul>
  </main>
{% endblock %}

    {% comment %} <div class="recipe-card">
        <h2 class="recipe-card-title">
          <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
        </h2>
        <p class="recipe-card-date">{{ recipe.updated }}</p>
      </div> {% endcomment %}