{% extends "../paginate.html" %}

{% block content%}
    <main class="recipe-grid">
        {% for meal_plan in mealplan_list %}
            <div class="recipe-card">
                <h2 class="recipe-card-title">
                <a href="{% url 'meal_plan_detail' meal_plan.pk %}">{{ meal_plan.name }}</a>
                </h2>
                <ul>
                    {% for recipe in meal_plan.recipes.all %}
                    <li><a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </main>
    <div>
        <a href="{% url 'meal_plan_new' %}">Create a new meal plan</a>
    </div>
{% endblock content%}